<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>

				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP地址</th>
							<th>执行时间</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix">
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
$(function(){
	 //异步加载pageUrl页面
    $("#pageId").load("doPageUI",doGetObjects)
	 //异步加载日志信息(数据)
	$(".input-group-btn").on("click",".btn-search",doQueryObjects)
	$(".input-group-btn").on("click",".btn-delete",doDeleteObjects)
	$("#checkAll").change(doChangeTBodyCheckBoxState);
	 $("#tbodyId").on("change",".cBox",doChangeTHeadCheckBoxState)
});

//当tbody中checkbox的状态发生变化以后
//修改thead中全选元素的状态值。
function doChangeTHeadCheckBoxState(){
	  //1.设定默认状态值
	  var flag=true;
	  //2.迭代所有tbody中的checkbox值并进行与操作
	  $("#tbodyId input[type='checkbox']")
	  .each(function(){
		  flag=flag&$(this).prop("checked")
	  });
	  //3.修改全选元素checkbox的值为flag
	  $("#checkAll").prop("checked",flag);
}
/*实现全选操作*/
function doChangeTBodyCheckBoxState(){
	   //1.获取当前点击对象的checked属性的值
	   var flag=$(this).prop("checked");//true or false
	   //2.将tbody中所有checkbox元素的值都修改为flag对应的值。
	   //第一种方案
	   /* $("#tbodyId input[name='cItem']")
	   .each(function(){
		   $(this).prop("checked",flag);
	   }); */
	   //第二种方案
	   $("#tbodyId input[type='checkbox']")
	   .prop("checked",flag);
}
//基于选中的记录id执行删除操作
function doDeleteObjects(){

	//1.获取选中记录id
	  var idArray = doGetCheckedIds();
	  if(idArray.length==0){
	 alert("请先选中");
	 return;
	  }
		  //2.给出提升，确定删除
		  if(!confirm("确定删除吗")) return;
	  //3.执行异步删除操作
	  var url = "log/doDeleteObjects";
	  
	  //3.1 确定url
	  //3.2 确定参数\
	 
	  var params ={"ids":idArray.toString()}//传过去的
	  //3.3发送异步请求执行删除
	   $.post(url,params,function(result){
		   if(result.state==1){
			   alert(result.message);
			   doGetObjects();
		   }else{
			   alert(result.message);
		   }
	   });
}
function doGetCheckedIds(){
	var idArray=[];
	  //1.获取所有tbody中的checkbox对象
	  var cBox = $("#tbodyId input[type='checkbox']")
	  //2.迭代所有checkedbox对象 并判断是否选中
	  cBox.each(function(){
		//3.将选中的checkedbbox 对象存储到数组
	    if($(this).prop("checked")){
	    	idArray.push($(this).val());
	    }
	  })
	  
	  //4.返回存储id的数组
	  return idArray;
}
//查询
function doQueryObjects(){
	  //赋值
	  $("#pageId").data("pageCurrent",1)
	  doGetObjects();
}
function doGetObjects(){
	 $("#checkAll").prop("checked",false);
	 //debugger
	 //1.定义请求URL(request url)
	 var url="log/doFindPageObjects";
	 //2.定义请求参数(request params)
	 //获取pageCurrent绑定的值
	 var pageCurrent=
	 $("#pageId").data("pageCurrent");
	 //假如pageCurrent没有值,赋值为1
	 if(!pageCurrent)pageCurrent=1;
	 var params={"pageCurrent":pageCurrent}//"pageCurrent=1"
	 //获取用户查询时,输入的用户名
	 var uname=$("#searchNameId").val();
	 if(uname){
		 //在params中动态添加key/value
		 params.username=uname;
	 }
	 //3.发送异步请求获取服务端数据(send async request)
	 //getJSON函数为jquery中的函数
	 //当服务端有响应数据时会回调匿名函数并将结果传递给函数参数
	 $.getJSON(url,params,function(result){//callback
		 //console.log(result);
		 //console.log(result.data.records);
		 doHandleResponseResult(result);
	 });//jquery
}
	 function doHandleResponseResult(result){
		 if(result.state==1){
			 //呈现记录信息
			doSetTableBodyRows(result.data.records);
			 //呈现分页信息
			doSetPagination(result.data);
		 }else{
		 alert(result.message);
		 }
	 }
	//将记录呈现在table内部的tbody中
	 function doSetTableBodyRows(records){
		 //1.获取tbody对象,并清空tbody中数据
		 var tBody=$("#tbodyId");
		 tBody.empty();
		 //2.迭代records,并将记录追加tbody中
		 for(var i=0;i<records.length;i++){
		  //2.1 创建一个tr对象
		  var tr=$("<tr></tr>");
		  //2.2 创建多个td对象(一行多列)
		  var tds=doCreateTds(records[i]);
		  //2.3 将td追加到tr中
		  tr.append(tds);
		  //2.4 将tr追加tbody中
		  tBody.append(tr);
		 }
		
	 }
	 function doCreateTds(data){
		   var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
			   	 "<td>"+data.username+"</td>"+
			     "<td>"+data.operation+"</td>"+
			     "<td>"+data.method+"</td>"+
			     "<td>"+data.params+"</td>"+
			     "<td>"+data.ip+"</td>"+
			     "<td>"+data.time+"</td>";	   
	      return tds;
	 }
</script>
